<div class="row">
  <hr>
  <div class="large-12 columns">
  <h4>You might also like:</h4>
  <img src="http://placehold.it/200x150&text=[img]">
  <img src="http://placehold.it/200x150&text=[img]">
  <img src="http://placehold.it/200x150&text=[img]">
  <img src="http://placehold.it/200x150&text=[img]">
  </div>
</div>